<div class="big-metrics-card centered">
  <h2 class="card-title"><%= title %></h2>
  <div class="card-img-container">
    <%= image_tag img, alt: "alttext" %>
  </div>
  <p class="m-bottom-30 p-horiz-50"><%= text %></p>
  <div id="#main">
  <input type="button" id="<%=button_id%>" class="btn btn-big btn-primary white-text" value="Import file" />
  </div>
</div>
